{% extends 'base.html'%}

{%block 'content' %}

<div class="glass-container">
    <div class="login-box">
        <h2>Iniciar Sesion</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group mb-3">
                <input type="text" id="username" name="username" required placeholder="Username">
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>
            <div class="options">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Recordarme</label>
                <a href="#">¿olvido tu contraseña?</a>
            </div>
            <button type="submit">Login</button>
            <p>¿No tiene una cuenta? <a href="#" id="register">Registrarse</a></p>
        </form>
    </div>
</div>
{% endblock %}