{% extends 'base.html' %}

{% block 'content' %}
<div class="container">
    <h1>¡Gracias por visitar OnlyFlans! 🥳</h1>
    <h2>Nos alegra mucho que hayas pasado por aquí</h2>
    <h3>Tu apoyo es lo que hace posible que compartamos las mejores recetas de flanes y postres caseros</h3>
    <h2>¿Quieres enterarte de nuestras próximas recetas y trucos de cocina? No dudes en seguirnos y estar atento a las novedades. ¡Esperamos verte pronto de nuevo!</h2>
    <h2>Con cariño,
        El equipo de OnlyFlans 🍮</h2>
</div>
{% endblock %}